.tf1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tf2{
    display: flex;
}

.tf3{
    margin: 30px;
    margin-top: 20px;
    width: 50%;
}

.tf4{
    margin: 30px;
    margin-top: 20px;
    width: 50%;
}

.tf5{
    float: left;
    font-weight: bold;
    font-size: small;
}

.tf7{
    float: left;
    font-weight: bold;
    font-size: small;
}
.tf6{
    float: left;
    border: 2px solid grey;
    border-radius: 10px;
    height: 40px;
    width: 80%;
    padding-left: 10px;    
}

.tf8{
    float: left;
    border: 2px solid grey;
    border-radius: 10px;
    height: 40px;
    width: 80%;
    padding-left: 10px;
}

.tf9{
    float: left;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 72%;
    font-weight: bold;
    background-color: rgb(157, 168, 171);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.tf10{
    float: left;
    border: none;
    width: 30%;
    background-color: aliceblue;
    height: 50px;
    padding: 20px 0px 0px 30px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
}

.tf11{
    width: 24%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-weight: bold;
    background-color: rgb(139, 237, 139);
    word-wrap: break-word;
}

.tf12{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tf13{
    height: 8vh;
    width: 10%;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 25px;
    float: right;
    margin-right: 5%;
    border-radius: 10px;
    border: none;
    background-color: rgb(8, 72, 80);
    color:aliceblue;
    box-shadow: rgba(86, 84, 84, 0.35) 0px 5px 15px;
}

.tf14{
    height: 8vh;
    width: 10%;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 25px;
    float: right;
    margin-right: 10%;
    border-radius: 10px;
    border: none;
    background-color: rgb(8, 72, 80);
    color:aliceblue;
    box-shadow: rgba(86, 84, 84, 0.35) 0px 5px 15px;
}

.tf19{
    width: 24%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-weight: bold;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    word-wrap: break-word;
}

.tf20{
    float: right;
    margin: 5% 10% 0% 0%;
    font-weight: bold;
}

.tf21{
    float: left;
    margin: 3% 0% 0% 8%;
    background-color: transparent;
    border: none;
    font-weight: bold;
    
    
}

.tf22{
    background-color: transparent;
    border: none;
    float: left;
    font-weight: bold;
    float: left;
}

.tf23{
    background-color: transparent;
    float: right;  
    font-size: 25px;
}

